<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- link css -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit </title>
  
</head>
<body id="editbody">
    <h1>Edit DMC Color Number: <%= floss.flossNum %> </h1>
    <form action="/floss/<%=floss._id%>?_method=PUT" method="POST">
        <label>Floss Number:</label>
        <input value="<%= floss.flossNum %>" name="flossNum" type="number"/>
        <label>Discriptive Color:</label>
        <input value="<%= floss.flossColor %>"name="flossColor" type="text"/>
        <label>Number of Skiens:</label>
        <input value="<%= floss.numOfSkiens %>"name="numOfSkiens" type="number"/>
        <button type="submit">Update Floss</button>
    </form>
    <form action="/index">
        <button type="submit">Back to Craft Cabinet</button>
    </form>
    <form action="/">
        <button type="submit">Home</button>
    </form>
    <!-- <a href="/index">Back to Craft Cabinet</a>
    <a href="/">Home</a> -->
</body>
</html>