<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= floss.flossColor %></title>
</head>
<body>
    <h1><%= floss.flossColor %> floss information: </h1>
    <h2>DMC Color Number: <%= floss.flossNum %></h2>
    <p>You have <%= floss.numOfSkiens %> skien(s) of number <%= floss.flossNum %> embroidery floss.</p>
    <a href="/index">Back to Craft Cabinet</a>
</body>
</html>