<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= floss.flossColor %></title>
</head>
<body id="showbody">
    <h1>DMC Color Number: <%= floss.flossNum %></h1>
    <h3>Discriptive Color: <%= floss.flossColor %></h3>
    <p>You have <%= floss.numOfSkiens %> skien(s) of number <%= floss.flossNum %> embroidery floss.</p>
    <!-- add in delete button -->
     <form action="/floss/<%= floss._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= floss.flossColor%></button>
     </form>
     <form action="/index">
        <button type="submit">Back to Floss Cabinet</button>
    </form>
    <form action="/floss/<%= floss._id %>/edit">
        <button type="submit">Edit</button>
    </form>
    <!-- <a href="/index">Back to Craft Cabinet</a>
    

</body>
</html>